body {
  width: 100%;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  height: 100vh;

  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}

.wrapper button {
  padding: 10px 20px;
  background: #614101;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.accordion {
  max-width: 600px;
  width: 100%;
}

.item {
  background: #614101;
  margin-bottom: 10px;
  padding: 10px 20px;
  transition: all 0.5s ease;
}

.title {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease;
}

.content.animate {
  max-height: max-content;
  padding: 10px 10px 20px;
}
